@import "tailwindcss";

:root {
  --background: #040404;
  --foreground: #ffffff;
  --color-sand: #1c1c1c; 
  --color-gold: #b58843; 
  --color-charcoal: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  
  --color-sand: var(--color-sand);
  --color-gold: var(--color-gold);
  --color-charcoal: var(--color-charcoal);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
